<div>
    <div class="row">
        <p>
            @ViewData["Message"]
        </p>
    </div>
    <div class="row">
        <p>
            @ViewData["TokenResponseJson"]
        </p>
    </div>
    <div class="row">
        <p>
            @ViewData["APIResponseCode"]
        </p>
    </div>
    <div class="row">
        <p>
            @ViewData["UsersClaimsJson"]
        </p>
    </div>
</div>
